body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  color: #ffffff;
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.16;
}

.logo .logo-web {
  color: #4d5ae5;
}

.logo .logo-studio {
  color: #2e2f42;
}

.page-header .container {
  display: flex;
  padding-bottom: 25px;
  padding-top: 25px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.nav a:hover,
.nav a:focus {
  color: #404bbf;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav ul {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.address {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.address a {
  font-style: normal;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address a:hover,
.address a:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.solutions {
  background-color: #2e2f42;
  padding: 188px 0;
}

.solutions .container {
  text-align: center;
}

h1 span {
  display: block;
}

.solutions h1 {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}

.button:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.our-features ul {
  display: flex;
  margin-top: 120px;
  gap: 24px;
  margin-bottom: 120px;
}

.our-features li {
  width: 264px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team .container {
  padding-top: 120px;
}

.our-team ul {
  display: flex;
  gap: 24px;
}

.our-team h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team h3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team li {
  margin-bottom: 120px;
}

.our-team .team-card {
  display: block;
  width: 100%;
  background-color: #ffffff;
  padding: 32px 0;
  border-radius: 1px 1px 5px 5px;
}

.our-team img {
  display: block;
}

.our-portfolio ul {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 152px;
}

.our-portfolio li {
  width: 360px;
}

.our-portfolio h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 120px;
  margin-bottom: 72px;
}

.our-portfolio h3 {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.our-portfolio p {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
}

.portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.footer .container {
  padding: 100px 0;
}

.logo-footer {
  display: block;
  margin-bottom: 16px;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
}

.footer p {
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.16;
}

.logo-footer .logo-footer-web {
  color: #4d5ae5;
}

.logo-footer .logo-footer-studio {
  color: #f4f4fd;
}
